@theme {
  --animate-aurora: aurora 30s infinite linear;

  @keyframes aurora {
    from {
      background-position: 50% 50%;
    }
    to {
      background-position: 350% 50%;
    }
  }
}

:root {
  --aurora: repeating-linear-gradient(
    100deg,
    var(--color-blue-500) 10%,
    var(--color-indigo-300) 15%,
    var(--color-blue-300) 20%,
    var(--color-violet-200) 25%,
    var(--color-blue-400) 30%
  );

  --dark-gradient: repeating-linear-gradient(
    100deg,
    var(--color-black) 0%,
    var(--color-black) 7%,
    transparent 10%,
    transparent 12%,
    var(--color-black) 16%
  );

  --color-white-gradient: repeating-linear-gradient(
    100deg,
    var(--color-white) 0%,
    var(--color-white) 7%,
    transparent 10%,
    transparent 12%,
    var(--color-white) 16%
  );
}
